/*Starting a CSS document*/
div {
	background-color: black;
	height:50px;
	width:100px;
	color:red;
	font-family: Arial;
	text-align: center;
	border-solid:inset;
	border-color:black;
}
div:hover {
	background-color: white;
}
